header{
    font-family: "Lalezar", system-ui;
    position: relative;
    top: 49px;
    
}
#res{
    font-family: "Quicksand", sans-serif;
}
.different{
    font-family: "Lalezar", system-ui;
}
.rightie{
    text-decoration: none;
    padding: 25px;
    
    
    
    
}
.leftie{
    display: flex;
    justify-content: end;
    font-family: "Quicksand", sans-serif;
    
    
    
}
.red{
    margin-top: 0;
}